{% extends "base.html" %}
{% load static %}

{% block page-title %} Legal {% endblock %}


{% block body %}


<div class="container">
    <h3 id="privacy-policy">Privacy Policy</h3>

    <p>
        <strong>TODO - update this!</strong>
        A privacy policy should contain information about what personal data is collected, how it is used, who it is shared with, and how it is protected. It should also inform users of their rights regarding their data and how they can exercise those rights.
    </p>
    
</div>



<div class="container">
    <h3 id="terms-of-service">Terms of Service</h3>

    <p>
        <strong>TODO - update this!</strong>
        A Terms of Service agreement should include user rights and responsibilities, rules for acceptable use, liability limitations, privacy policies, and procedures for account termination. It may also cover payment details and dispute resolution processes.
    </p>

</div>




<div class="container">
    <h3 id="cookie-policy">Cookie Policy</h3>

    <p>
        <strong>TODO - update this!</strong>        
        A cookie policy should include information about the types of cookies used, their purposes, the data they collect, how long they remain on users' devices, and details on how users can manage their cookie preferences. It should also provide contact information for users who have questions or concerns about the policy.
    </p>

</div>



<div class="container">
    <h3 id="dsa">Compliance with Digital Services Act (DSA)</h3>

    <p>
        <strong>TODO - update this!</strong>
        Compliance with the Digital Services Act (DSA) should include measures to protect users from illegal content, enhance transparency in content moderation, and provide mechanisms for users to appeal decisions. Additionally, platforms must implement systems for reporting illegal content and ensure they know their business partners to maintain a safe online environment.
    </p>

</div>



{% endblock %}