html {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  transition: background 0.3s ease, color 0.3s ease;
}

main {
  min-height: 100vh;
}

[x-cloak] {
  display: none !important;
}

a.no-decoration {
  --pico-text-decoration: none;
}

a.no-decoration:hover {
  --pico-text-decoration: none;
  opacity: .8;
}

ul.no-style {
  padding: 0;
  margin: 0;
}

ul.no-style>li {
  list-style-type: none !important;
  margin-bottom: 20px !important;
}

ul.errorlist {
  padding: 0;
  margin-top: -16px;
}

ul.errorlist>li {
  list-style-type: none !important;
  color: var(--pico-color-red-450) !important;
}
